<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <table>
                    <tr style="height:30px">
                        <td><a th:href="@{/admin/open}">Открыть счет</a></td>
                    </tr>
                    <tr style="height:30px">
                        <td><a th:href="@{/admin/refill}">Пополнить счет</a></td>
                    </tr>
                    <tr style="height:30px">
                        <td><a th:href="@{/admin/transfer}">Перевод</a></td>
                    </tr>
                    <tr style="height:30px">
                        <td><a th:href="@{/admin/close}">Закрыть счет</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Выйти
        </button>
    </form>

</div>
</body>
</html>