<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>Открытие счета</span>
            </div>
            <div class="panel-body">
                <div class="col-md-6 col-md-offset-3">
                    <form autocomplete="off" action="#" th:action="@{/admin/open}"
                          th:object="${account}" method="post" class="form-horizontal"
                          role="form">
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{firstName}" placeholder="Имя"
                                       class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{middleName}"
                                       placeholder="Отчество" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{lastName}"
                                       placeholder="Фамилия" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Открыть</button>
                            </div>
                        </div>
                        <div><a th:href="@{/admin/home}">На главную страницу</a></div>
                        <h2><span class="text-success" th:utext="${newAccount}"></span></h2>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Выйти
        </button>
    </form>

</div>
</body>
</html>